.announce-wrapper {

    .announce {
        height: auto;
        background-color: rgba(220, 53, 69, 0.1);

        p {
            
            padding: 2px 5px;
            margin-bottom: 0px !important;

            span {
                font-weight: 700;
            }
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                white-space: nowrap;

                span {
                    margin-left: 10px;
                    color: var(--tp-theme-2);
                }
            }

            .close {
                margin: 0 20px 0 auto;
                background-color: gray;
                height: 20px;
                width: 20px;
                font-size: 12px;
                color: white;
                text-align: center;
                border-radius: 50%;
                opacity: 0.5;
                line-height: 28px;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }

    }
}

@media screen and (min-width:768px) {
    .announce-wrapper {
        .announce {
            display: flex;
            justify-content: center;
            align-items: center;

           

            div {
                min-width: 350px;
                justify-content: flex-start;

                .close {
                    position: absolute;
                    right: 0;
                }

            }

        }
    }

}